h1 {
	color: blue;
	font-family: Arial;
	text-align: center;
}

p {
    color: black;
    font-family: sans-serif;
}

table {
	 border: 3px dashed blue;
}

li {
	font-family: Arial;
}

tr td {
	color: red;
}

#table-title {
	color: yellow;
}