div {
	border-radius: 5px;
}

#top {
	height: 50px;
	width: 700px;
	background-color: pink;
	position: fixed;
	margin-top: -15px; 
}

.middle {
	margin-top: 40px;
	margin-bottom: 5px;
	height: 1000px;
}

#left {
	width: 100px;
	background-color: blue;
	float: left;
	margin-right: 5px;	
}

#right {
	width: 595px;
	background-color: green;
	float: left;
}

#bottom {
	height: 35px;
	width: 700px;
	background-color: red;
	clear: both;
}

