h1 {
	color: blue;
	font-family: Arial;
	text-align: center;
}

p {
    color: black;
    font-family: sans-serif;
}

table {
	 border: 3px dashed blue;
}

li {
	font-family: Arial;
}

tr td {
	color: red;
}

#table-title {
	color: yellow;
}

#blueish {
	/*background-color: blue;*/
	width:500px; 
	height:100px;
	float: right;
	border: dashed 2px red;
	padding: 5px;
	margin: 10px;
	
}